<footer>
  <div class="logo">LAND Interiors</div>
  <p>
    At LAND Interiors, our services encompass a full spectrum of interior
    design, delivering top-notch designs that meet your every need. Whether you
    are looking to redesign your kitchen, bedroom, living room, or home office,
    we have got you covered.
  </p>
  <div class="social-media">
    <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
    <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="contact-info">
    <p>Want to say hi? Let’s Connect</p>
    <p>Email: landinteriors&#64;gmail.com</p>
    <p>Phone: +012 3456 67890</p>
  </div>
  <nav>
    <ul>
      <li>About</li>
      <li>Projects</li>
      <li>Studio</li>
      <li>Blog</li>
      <li>Contact</li>
    </ul>
  </nav>
</footer>
