<footer>
  <div class="footer-container">
    <div class="left-part footer-section">
      <div class="s">
        <img
          src="../../assets/logo.jpg"
          alt="LAND Interiors Logo"
          class="logo"
        />
        <p>
          We introduce ourselves as LAND Interior and Architectural Design
          Consultancy – one of the best interior designers in Chennai. Chennai
          Luxury Interior and Architectural Design Consultancy has challenged
          the conventional way of interior designing and given new dimensions to
          the art of interior designing.
        </p>
        <div class="social-media">
          <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
          <a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="#" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
          <a href="#" title="YouTube"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <h3>WHAT WE DO</h3>
      <ul>
        <li>Interior Design</li>
        <li>Kitchen</li>
        <li>Ceiling</li>
        <li>Bedroom</li>
        <li>Smart Home</li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Get in touch</h3>
      <p>
        <a href="mailto:landinteriors@gmail.com">landinteriors&#64;gmail.com</a>
      </p>
      <p><a href="tel:+919898765656">+91 98987 65656</a></p>

      <div class="footer-bottom">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Studio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
