.why-land-interiors {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
}

.icon-text {
  flex: 1;
}

.icon-text i {
  font-size: 2em;
}

@media (max-width: 768px) {
  .why-land-interiors {
    flex-direction: column;
  }
}
