<section class="all">
  <h1>What we do?</h1>
  <div class="what-we-do parent">
    <div class="service">
      <img src="../../assets/pic 1.jpg" alt="Modular Kitchen" />
      <p>Modular Kitchen</p>
    </div>
    <div class="service">
      <img src="../../assets/pic 2.jpg" alt="Bedroom" />
      <p>Bedroom</p>
    </div>
    <div class="service">
      <img src="../../assets/pic 3.jpg" alt="Living Room" />
      <p>Living Room</p>
    </div>
    <div class="service">
      <img src="../../assets/pic 4.jpg" alt="Home Office" />
      <p>Home Office</p>
    </div>
  </div>
  <p class="text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti deserunt,
    commodi labore maiores dicta, eum voluptatum quisquam dolore atque quod
    omnis culpa exercitationem quae consequuntur nostrum expedita earum sed ea?
  </p>
</section>
